*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/xml/backup_rules.xml
/.idea/compiler.xml
/app/src/main/res/xml/data_extraction_rules.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/gradlew.bat
/.idea/kotlinc.xml
/.idea/material_theme_project_new.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/vcs.xml
